﻿@model IEnumerable<App.DataAccess.Client>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>            
            @Html.ActionLink("Deposit", "DepositMoney", "Bank", new { clientId = item.Id }, null) |
            @Html.ActionLink("Withdraw", "WithdrawMoney", "Bank", new { clientId = item.Id }, null) |
            @Html.ActionLink("Transfer", "TransferMoney", "Bank", new { clientId = item.Id }, null) |
            @Html.ActionLink("Transactions", "Transactions", "Bank", new { clientId = item.Id }, null) 
        </td>
    </tr>
}

</table>
