﻿@using App.DataAccess;
@using App.Core;
@using App.Common;
@using Microsoft.Practices.Unity;
@model App.Web.Models.TransferMoney

@{
    IClientService _clientService = Ioc.Instance.Resolve<IClientService>();

    var clientListItems = _clientService.GetAllClients().Objs
        .Where (x => x.Id != Model.ClientFromId)
        .Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() });    

}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TransferMoney</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">            
            <label class="control-label col-md-2">From</label>            
            <div class="col-md-10">
                @Html.EditorFor( model => model.ClientFromId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientFromId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">To</label>    
            <div class="col-md-10">                
                @Html.DropDownListFor(model => model.ClientToId, clientListItems, "", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientToId, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Clients")
</div>
