﻿@using App.DataAccess;

<h1>Transactions</h1>

<div>
    @Html.ActionLink("Back to List", "Index", "Clients")
</div>

<table class="table">
    <thead>
        <tr>            
            <th>ID</th>
            <th>Transaction Type</th>
            <th>Amount</th>            
            <th>ClientFrom</th>
            <th>ClientTo</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in this.ViewData.Model)
        {
            <tr>
                <td>@transaction.Id</td>                            
                <td>@transaction.TransactionType</td>
                <td>@transaction.Amount</td>
                <td>@(transaction.ClientFrom != null ? transaction.ClientFrom.Name : "")</td>                
                <td>@(@transaction.ClientTo != null ? transaction.ClientTo.Name : "")</td>                
                <td>@(@transaction.Created != null ? transaction.Created : "")</td>                
            </tr>
        }        
    </tbody>    
</table>